body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: #e5e7eb;
}

header {
  text-align: center;
  padding: 60px 20px;
  background: linear-gradient(135deg, #6366f1, #22d3ee);
  color: white;
}

section {
  padding: 50px 20px;
  max-width: 1000px;
  margin: auto;
}

h2 {
  margin-bottom: 20px;
  color: #22d3ee;
}

.skill-list span {
  display: inline-block;
  margin: 8px;
  padding: 8px 14px;
  background: #1e293b;
  border-radius: 20px;
}

.projects {
  text-align: center;
}

.project-card {
  background: #1e293b;
  padding: 30px;
  border-radius: 15px;
  margin-top: 20px;
}

.buttons {
  margin-top: 20px;
}

.btn {
  text-decoration: none;
  padding: 10px 18px;
  margin: 5px;
  border-radius: 8px;
  font-weight: bold;
}

.live {
  background: #22d3ee;
  color: black;
}

.code {
  background: #6366f1;
  color: white;
}

footer {
  text-align: center;
  padding: 20px;
  background: #020617;
}
